@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

.navbar {
    width: 1024px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer {
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight:bold;
    margin-left: 20px;
}

.navItems {
    color: black;
    display: flex;
    align-items: center;
}

.navItems a {
    text-decoration: none;
    margin-right: 10px;
}

.nav-btn {
    cursor: pointer;
    margin: 0 10px;
    border: none;
}

.reg-link {
    font-size: 15px;
    background: none;
}

.login-link {
    padding: 7px;
    font-size: 15px;
    margin: 0 0 0 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
}




/*
@media only screen and (max-width: 960px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .resposive_nav{
        transform: none;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}

*/